.jumbotron {
    text-align: center;
    background-color: #4DD1FF;
    font-family: Capriola;
}
.city {
    margin-left: 0px;
}
body {
    background-color: #FF6C6C;
}
.navbar {
    font-family: Capriola;
}
.card {
    margin-left: 80px;
    background-color: #DCDDDE;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    font-family: Capriola;
}
.right {
    position:absolute;
    right:20px;
}
.container {
    font-family: Capriola;
}