.jumbotron {
    text-align: center;
    background-color: #4DD1FF;
    font-family: helvetica;
}
body {
    background-color: #FF6C6C;
}
.card {
    margin-left: 80px;
    background-color: #DCDDDE;
}
.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}